<div class="mt-4">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Aniversário</th>
                <th>Tipo</th>
                <th>Favorito</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of agenda.obterTodos()">
                <td>{{c.obternome()}}</td>
                <td>{{c.obtertelefone()}}</td>
                <td>{{c.obteremail()}}</td>
                <td>{{c.obteraniversario()}}</td>
                <td>{{c.obtertipo()}}</td>
                <td>{{c.obterfavorito()}}</td>
            </tr>
        </tbody>
    </table>
</div>