/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para o cabeçalho */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

/* Estilos para o formulário de bimestres */
form {
    margin: 0;
    padding: 0;
}

form > div {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

input[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    letter-spacing: 3px;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

/* Estilos para o resultado */
.resultado {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para o formulário de Avaliação Final */
.avaliacao-final {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.avaliacao-final label {
    font-weight: bold;
}

.avaliacao-final input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.avaliacao-final input[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.avaliacao-final input[type="button"]:hover {
    background-color: #0056b3;
}
