<div class="container">
    <div class="row">
        <div class="col col-md-6 offset-md-3">
            <h1 class="text-center">Média Parcial</h1>

            <form action="">
                <div>
                    <label for="bim1" class="form-label">Bimestre 1 </label>
                    <input id="bim1" class="form-control" type="number" [value]="boletim.obterBim1()" #b1>
                </div>
                <div>
                    <label for="bim2" class="form-label">Bimestre 2 </label>
                    <input id="bim2" class="form-control" type="number" [value]="boletim.obterBim2()" #b2>
                </div>
                <div>
                    <label for="bim3" class="form-label">Bimestre 3 </label>
                    <input id="bim3" class="form-control" type="number" [value]="boletim.obterBim3()" #b3>
                </div>
                <div>
                    <label for="bim4" class="form-label">Bimestre 4 </label>
                    <input id="bim4" class="form-control" type="number" [value]="boletim.obterBim4()" #b4>
                </div>
                <div class="text-center">
                    <input type="button" value="Calcular" class="btn btn-primary mt-3 mb-3"
                        (click)="calcularMediaParcial(+b1.value, +b2.value, +b3.value, +b4.value)">
                </div>
            </form>

            <div [ngClass]="obterClasseSituacao()">
                <p>{{resultado}}</p>
            </div>

            <div *ngIf="mediaParcial < 60 && resultado != ''">
                <form action="">
                    <div>
                        <label for="naf">Avaliação Final </label>
                        <input id="naf" type="number" #naf>
                    </div>
                    <div>
                        <input type="button" value="Exibir Situação Final" (click)="calcularMediaFinal(+naf.value)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>